<!-- Start of EPL Match view -->
<section>

<div class="row">

<!-- Card for first team -->
  <div class="card col-xs-12 col-sm-12 col-md-5 col-lg-5">
    <a ng-href='#/team-view/{{ matchStats.team1code }}'><img class="img-rounded" ng-src="{{matchStats.url1}}" alt="Card image" style="padding: 5%">
    <div class="card-body" style="padding: 5%">
      <h2 class="card-title">{{ matchStats.team1code }}</h2>
      <h4 class="card-text">{{matchStats.teamName1}}</h4>
      <p>{{matchStats.score1}}</p>
    </div>
    </a>
  </div>

<!-- vs -->
  <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2"><h1 style="text-align: center">VS</h1></div>

<!-- Card for second team -->
  <div class="card col-xs-12 col-sm-12 col-md-5 col-lg-5">
    <a ng-href='#/team-view/{{ matchStats.team2code }}'><img class="img-rounded" ng-src="{{matchStats.url2}}" alt="Card image" style="padding: 5%">
    <div class="card-body" style="padding: 5%">
      <h2 class="card-title">{{ matchStats.team2code }}</h2>
      <h4 class="card-text">{{matchStats.teamName2}}</h4>
      <p>{{matchStats.score2}}</p>
    </div>
    </a>
  </div>

</div>
<div><h2 style="text-align: center">{{matchStats.message1}}</h2></div>

</section>
